.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: auto; /* 오버레이에 상호작용이 되도록 수정 */
}

.modal-content {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    pointer-events: auto;
}
